@import url(table.css);
@import url(style_home_responsivo.css);

:root {
    --azul-id-color: #00437d;
    --vermelho-id-color: #eb1220;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f9f9f9;
    
}

body::-webkit-scrollbar-track {
    background: transparent;
    
}

.principal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cabecalho {
    width: 100%;
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    text-align: center;
}
.cabecalho img {
    width: 120px;
    margin: 0 30px 20px 0;
}
.cabecalho-title {
    width: 100%;
    padding: 45px;
    background: linear-gradient(to right, #00213e, #0088ff, #00213e);
    color: #ffffff;
    font-size: 15px;
}
.center {
    width: 70%;
    height: 100%;
    margin-bottom: 20px;
}
hr {
    width: 40%;
    margin: 20px auto;
    border: .1px solid var(--azul-id-color);
}
.center-title {
    margin: 20px 0;
    display: flex;
    align-items: center;
    border-left: 5px solid var(--azul-id-color);
    text-align: left;
    font-size: 20px;
}
.center-title i {
    margin: 0 10px;
    color: #daa520;
    font-size: 13px;
}
.center article {
    width: 100%;
}
h3 {
    width: 100%;
}

/*========== SESSÃO - IMAGENS ==========*/

.center-sessao-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.center-sessao-imgs p {
    width: 100%;
}
.center-sessao-imgs img {
    width: 30%;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 0 .3em #cdcdcd;
    transition: 1s;
}
.center-sessao-imgs img:hover {
    transform: scale(1.04);
    transition: 1s;
}


/*========== SESSÃO - MISSÃO VISÃO VALORES ==========*/

.center-sessao-mvv {
    display: flex;
    justify-content: center;
}
.center-sessao-mvv-boxs {
    width: 300px;
    margin: 0 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 0 .3em #cdcdcd;
    border-radius: 10px;
    text-align: center;
}
.center-sessao-mvv-boxs h2 {
    margin: 5px 0 10px 0;
}
.center-sessao-mvv-boxs div {
    width: 90px;
    height: 90px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--azul-id-color);
    box-shadow: inset -.1em -.2em .3em #00213e;
    border-radius: 50%;
    border: 3px solid #daa520;
    transition: 1s;
}

.center-sessao-mvv-boxs div:hover {
    transform: scale(1.1) rotate(10deg);
    transition: 1s;
}
.center-sessao-mvv-boxs div img {
    width: 50px;
}


/*========== SESSÃO -  VIDEO ==========*/

.center-sessao-video {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.center-sessao-video p {
    width: 100%;
}
.center-sessao-video iframe {
    width: 1120px;
    height: 605px;
    margin: 50px auto;
    box-shadow: 0 0 3em #000000;
    border-radius: 5px;
}


/*========== VAGAS ==========*/

.vagas {
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #e4ebf2;
    text-align: center;
}
.vagas .center-title {
    border: none;
    font-size: 25px;
}

.vagas table {
    background: #e4ebf2;
    text-align: center;
}

.vagas table thead {
    border: 5px solid #e4ebf2;
}
.vagas table tbody {
    background: #ffffff;
    color: #000000;
}
.vagas table td {
    width: 200px;
    border: 5px solid #e4ebf2;
    border-radius: 10px;
    overflow: hidden;
}
.vagas table td i {
    margin-left: 10px;
}
.vagas .ultima-coluna {
    width: fit-content;
}


/*========== RODAPE ==========*/

.rodape {
    width: 100%;
    padding: 20px;
    background: var(--azul-id-color);
    color: #cdcdcd;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}
.rodape-social-media {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rodape-social-media img {
    width: 40px;
}
.rodape-social-media i {
    color: #ffffff;
    font-size: 30px;
    margin-right: 20px;
}

#id-logo-transparente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: opacity(10%);
    z-index: 0;
}