:root {
    --azul-id-color: #00437d;
    --vermelho-id-color: #eb1220;
}

table {
    margin: 20px;
    border-collapse: collapse;  
    font-size: 12px;
    box-shadow: 0 0 .3em #9c9c9c;
    background: #dcefff;
    border-radius: 5px;
    overflow: hidden;
}
table td {
    border: none;
    border-bottom: 1px solid #008cff;
    padding: 10px;
}
table thead {
    background: var(--azul-id-color);
    color: #ffffff;
    text-align: center;
}
.ultima-coluna {
    background: #b7dfff;
}

table form {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: transparent;
}
table form button, table form button a {
    width: 60px;
    font-size: 10px;
    margin: 0 auto;
    background: #ff5353;
    color: #ffffff;
    text-decoration: none;
}

table form #btn-editar {
    width: 60px;
    padding: 3.5px;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 10px;
    background: #008cff;
}
table a {
    padding: 5px 10px;
    color: #ffffff;
    text-decoration: none;
    background: #008cff;
    border-radius: 3px;
    transition: .2s background
}
table a:hover {
    background: #0066b9;
    transition: .2s background;
}